<?xml version="1.0"?>
<!-- Note: As an alternative to manually editing this file you can use the web admin tool to
     configure settings for your application. Use the Website->ASP.NET Configuration option 
     in Visual Studio.
     A full list of settings and comments can be found in machine.config.comments usually
     located in \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->
<configuration>
  <configSections>
    <section name="appSettingsUser" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="true" requirePermission="false" />
  </configSections>
  <appSettingsUser>
    <add key="SpewUnhandledExceptions" value="true" />
    <add key="WCPage_SSLForSecure" value="false" />
  </appSettingsUser>
  <appSettings>
    <add key="ApplicationId" value="05a059c9-c309-46af-9b86-b06d42510550" />
    <add key="ShellUrl" value="https://account.healthvault-ppe.com/" />
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/" />
    
    <add key="NonProductionActionUrlRedirectOverride" value="Redirect.aspx" />
    <!-- The redirect page (specified above) uses these keys below to redirect to different
         pages based on the response from the shell -->
    <add key="WCPage_ActionHome" value="default.aspx" />
    <add key="WCPage_ActionAppAuthSuccess" value="default.aspx" />
    <!-- Handling selected record changed -->
    <add key="WCPage_ActionSelectedRecordChanged" value="default.aspx"/>
    
    <add key="ApplicationCertificateFileName" value="C:\Users\vaibhavb\Desktop\QS with HealthVault\svn\code\chapter_2\WeightTracker_2\cert\HelloWorld-SDK_ID-05a059c9-c309-46af-9b86-b06d42510550.pfx" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page.
            Because this affects performance, set this value to true only during development.
        -->
    <compilation debug="true" />
    <sessionState mode="InProc" />
  </system.web>
  <!-- For running inside networks that use proxy servers (for security) you will need to explicitly specify the proxy address
       in the XML section below.
       The example settings below show how to configure the sample for running inside Microsoft's corporate network.
       Your network settings are likely to be similar (but with a different proxy address)
   
    <system.net>
      <defaultProxy enabled="true">
      </defaultProxy>
    </system.net>
  -->
</configuration>